<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.yy.enterprise.mshow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mshow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>yymobile</string>
		<string>mqq</string>
		<string>taobao</string>
		<string>diditripcard</string>
		<string>Uber</string>
		<string>QQ05FB8F6F</string>
		<string>jcnhers</string>
		<string>qqmusic</string>
		<string>orpheus</string>
		<string>myxj</string>
		<string>mtmv</string>
		<string>inke</string>
		<string>TTPUExtension</string>
		<string>mogujie</string>
		<string>QQ05f9a300</string>
		<string>dayima</string>
		<string>meetyou.linggan</string>
		<string>MIHexin</string>
		<string>dzhiphone</string>
		<string>eastmoney</string>
		<string>QunariPhone</string>
		<string>ctrip</string>
		<string>dianping</string>
		<string>openapp.jdmoble</string>
		<string>lfxm</string>
		<string>souyidai</string>
		<string>en51ccm</string>
		<string>wacaiopen</string>
		<string>qqsports</string>
		<string>prokanqiu</string>
		<string>sinasports</string>
		<string>qqproduct052.10000</string>
		<string>QQ0600678D</string>
		<string>QQ41D4D384</string>
		<string>apollourl</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
